html {
  box-sizing: border-box;
}

*{
	font-family: 'Ubuntu', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}
section {
	width: 62em;
	margin: 0 auto;
	box-sizing: border-box;
}

/*navigation section*/
.top-navigation {
	display: inline-block;
	height: 7em;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	
}

.bar {
	width: 62em;
	height: .1em;
	margin: 0 auto;
	border-bottom:.1em solid #838994;


}

.top-navigation .logo, .top-navigation .links {
	 padding: 0em 1.5em;
}

.top-navigation > .content {
    width: 62em;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -.3em;
    box-sizing: border-box;
}

.top-navigation .links {
	float: right;

}

.links li {
	display: inline-block;
	margin-top: 3em;
	margin-left: 3em;

}

/*main name at top of page*/
/*how to make my name stretch across and keep navigation underneath*/
.top-navigation .content h1  {
	margin-left: 10%;
	font-weight: 400;
	font-style: italic;

}

.logo a {
	color: #000;
	text-decoration: none;
}

.logo a:hover {
	color: #000;
	text-decoration: none;
}

.logo a:visited {
	color: #000;
	text-decoration: none;
}

/*active link in nav*/
.top-navigation .links > .active a {
	color: #000;
	font-weight: 700;
	text-decoration: none;
}

.links a {
	text-decoration: none;
	font-weight: 300;
	color: #838994;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
}

.links a:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.photo-container {
	width: 62em;
 	margin-top: 4em;
    margin-left: auto;
    margin-right: auto;

}

.photo {
 	margin-top: 5em;
 	border-radius: 5em;
 	display: inline-block;
 }

.card {
	border: .01em solid #000;
	height: 10.5em;
	width: 19em;
	margin-top: 5.5em;
	margin-right: 10em;
	float: right;
	box-shadow: .1em .1em .5em .1em #5B5555;
	background-color: #fff;
	display: inline;
} 

.card a {
	text-decoration: none;
	color: #000;
}
#name, #jobtitle {
	text-align: center;
}

#name {
	margin-top: .75em;
	margin-bottom: .1em
}

#jobtitle {
	margin-top: .01em;
	margin-right: ;
}

#cell {
	text-align: right;
	margin-bottom: .1em;
	margin-right: .5em;
}

#email {
	text-align: right;
	margin-top: .01em;
	margin-right: .5em;
}

.photo-container p {
	margin-top: 4em;
	margin-left: 1em;
	/*display: inline-block;*/
}

.filler {
	height: 7em;
	width: 100%;
	margin-top:7em;

}

.message {
	height: 10em;
}

.footer {
	width: 62em;
	margin: 1em auto;
	box-sizing: border-box;
	border-top: .1em solid #838994;
	padding-top: 1em;
}

.footer .social {
	float: right;
	margin-bottom: 1em;
	margin-left: .5em;
}
