/*CSS Across the board*/
html {
  box-sizing: border-box;
}

*{
	/*font-family: 'Mr De Haviland', cursive;*/
	font-family: 'Neuton', serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}

	/*header section/ navigation */
header {
	height: 7.5em;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	
}

.bar {
	width: 62em;
	height: .1em;
	margin: 0 auto;
	border-bottom: .1em solid #838994;
	margin-top: -1.1em;
}

.bar:nth-child(2) {
	margin-top: 1.85em;
}

.top-navigation .links,
.logo {
	padding: 0em 1.5em;
}

	/*main name at top*/
.logo {
	font-weight: 400;
	font-style: italic;
	margin-left: 10%;
	margin-top: -.5em;
}

.logo a {
	color: #000;
	text-decoration: none;
	font-family: 'Mr De Haviland', cursive;
	font-size: 2em;
}

	/*nav*/
.top-navigation .links li {
	display: inline-block;
	margin-top: 5.6em;
	margin-left: 3em;
	float: right;
	
}

	/*nav links*/
.links a {
	text-decoration: none;
	font-weight: 300;
	color: #838994;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	transition: color .5s ease;
	font-family: 'Mr De Haviland', cursive;
	font-size: 1.7em;
}

.links a:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

	/*active link in nav*/
.top-navigation .links > .active a {
	color: #000;
	font-weight: 800;
	text-decoration: none;
}

.wrapper {
	width: 62em;
	margin: 0 auto;
}

	/*second nav for small screen*/
.icon-menu {
  color: #000;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.3em;
  display: inline-block;
  margin-top: 2.6em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-top: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  display: none;
}
.menu {
  background: #202024;
  left: -18em;   /*start off behind the scenes */
  height: 100%;
  position: fixed;
  margin-top: -1.3em;
  width: 17em;
}
.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: .06em solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.8em;
  padding-bottom: .19em;
  padding-left: 1.25em;
  padding-top: .19em;
}

.menu a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  font-size: 2em;
  color: #fff;
  padding-left: .5em;
  padding-top: .5em;
}

	/*footer*/
.footer {
	width: 62em;
	margin: 1em auto;
	box-sizing: border-box;
	border-top: .1em solid #838994;
	padding-top: 1em;
}

.footer .social {
	float: right;
	margin-bottom: 1em;
	margin-left: .5em;
}


/*Home Page*/
.summary  {
	height: 10em;
	margin: 0em auto;
	border-top: .1em solid #838994;
	margin-top: 7.5em;

}

	/*projects header*/
#background-image {
	background-image: url("../images/beach.jpg");
	height: 10em;
	background-size: cover;
	background-position: center;
}
.projects-header {
	text-align: center;
	padding-top: 1em;
	font-size: 2em;

}

.projects-header h3 {
	font-weight: 400;
	color: #000;
}

	/*thumbnail organization*/
.projectthumbs {
	text-align: center;
}

.projectthumbs .block {
	display: inline-block;
/*	height: 20em;
	width: 20em;*/
	/*border: .1em solid;*/
}

.project figure {
	margin: .78em;
}

	/*thumbnail links*/
.projectthumbs a {
	text-decoration: none;
	color: #000;
}

/*About me*/
	/*picture style*/
.wrapperphoto{
	width: 62em;
	margin: 0 auto;
	margin-top: 10em;
}
#photo-container {
	/*margin-top: 10.5em;*/
	margin-left: 4em;
	width: 6em;
	display: inline-block;
}
	/*card style*/
.card {
	border: .01em solid #000;
	height: 10.5em;
	width: 19em;
	margin-top: -12em;
	margin-right: 10em;
	float: right;
	box-shadow: .1em .1em .5em .1em #5B5555;
	background-color: #fff;
	display: inline;
} 

.card a {
	text-decoration: none;
	color: #000;
}

#name, #jobtitle {
	text-align: center;
}

#name {
	margin-top: .75em;
	margin-bottom: .1em
}

#jobtitle {
	margin-top: .01em;
	margin-right: ;
}

#cell {
	text-align: right;
	margin-top: 4em;
	margin-bottom: .1em;
	margin-right: .5em;
}

#email {
	text-align: right;
	margin-top: .01em;
	margin-right: .5em;

}

	/*form style*/
.formname {
	display: inline-block;
}
fieldset h4 {
	margin-top: .5em;
	margin-bottom: 0em;
	padding: 0;
}
fieldset h6 {
	margin-bottom: 1.5em;
	margin-top: 0em;
	padding: 0;
}
label:first-child {
	margin-left: .8em;
}
input[type="text"] {
	width: 19.3em;

}
input[type="text"]:nth-child(3),
textarea {
	width: 59.1em;
	margin-left: .8em;
}
.send {
	margin-top: 1em;
	margin-left: 45%;
    width: 6em;
    height: 3em;
}

/*other work*/

/*Resume*/
aside {
	float: right;
	position: fixed;
	top: 8em;
	right: 5em;
	/*border: .1em solid black;*/
	height: 35em;
	width: 15.1em;
	background-color: #fff;
	text-indent: 1em;
	line-height: .5em;
	overflow: scroll;
}
.sidebar h3 {
	text-align: center;
	text-decoration: underline;
	font-size: 1.5em;

}
.Rfiller {
	height: 50em;
	width: 100%;
	margin-top: 7em;
	background-color: red;
	width: 50em;
	margin-left: 5em;


	/*padding-right: 15.5em;*/
}
.Rfiller p {
	margin-top: 8em;
	color: black;
}
/*Blog*/
.filler {
	height: 30em;
	width: 100%;
	margin-top: 7em;
	/*border: 1em solid;*/
}

/*media queries*/
@media only screen and (max-width: 1000px) {
    /*.top-navigation .content*/ header h1 {
	    margin-left: 0;
	    position: absolute;
	    width: 100%;
	    margin-top: -.1em;
	}
	.bar/*:first-of-type*/ {
	    position: absolute;
	    top: 5.6em;
	}
	.links {
	    margin: 0em 0 auto;
	}
	.logo {
		margin-top: .3em;
	}
	.links li {
	    margin-left: 0;
	}
	.links li a {
		padding: 1em;
	}
	
	.wrapper /*section */{
		width: 100%;
	}

	header /*.top-navigation*/ > /*.content*/ .wrapper {
	    width: 100%;
	}
	.footer {
	    width: 100%;
	    padding-right: 30px;
	}
	/*home*/
	.projectthumbs {
		width: 100%;
	}

	.summary {
		width: 100%;
	}

	/*about me*/
	input[type="text"] {
	width: 9.9em;

	}
	input[type="text"]:nth-child(3),
	textarea {
		width: 30.1em;
		margin-left: .8em;
	}
	fieldset {
		width: 35em;
	}

}

@media only screen and (max-width: 771px) {
	.top-navigation {
		display: none;
	}
	.icon-menu {
		display: inline-block;
	}	
	
}


